ErrorDocument 404 /404.html

# Redirect from /index.html to /
RewriteCond %{THE_REQUEST} /index\.html [NC]
RewriteRule ^(.*)index\.html$ /$1 [R=301,NC,L]

# Remove file extension from URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^/]+)/$ $1.html
# Prevent direct access to image files
<FilesMatch "\.(jpg|jpeg|png|gif)$">
    # Set a specific HTTP_REFERER value or leave it blank to allow access from your website
    SetEnvIf Referer "^https://www\.talesofcuddles\.com/" referrer_allowed
    # Allow access only if the referrer matches the allowed value
    Order deny,allow
    Deny from all
    Allow from env=referrer_allowed
</FilesMatch>
# Prevent direct access to image files
RewriteEngine On
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?talesofcuddles.com [NC]
RewriteRule \.(jpg|jpeg|png|gif)$ - [NC,F]
